@use '../../styles/breakpoints.scss' as br;

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  @media (min-width: br.$lg-width) {
    flex-direction: row;
    justify-content: center;
  }
}

.headerTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

  @media (min-width: br.$lg-width) {
    align-items: flex-start;
  }
}
