@use '../../styles/breakpoints.scss' as br;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin: 32px 0;
  @media (max-width: br.$md-width) {
    > *:not(img) {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}
