// TODO: deprecated, remove in favor of MUI Emotion

// dark theme
$primary: #161616;
$secondary: #d7d7d7;
$tertiary: #202020;
$accent: #89a0dc;
$text-dark: $primary;
$link: #ffffff;
$background-dark: #242424;

// light theme
$text-light: #213547;
$background-light: #ffffff;
