@use './css_reset';
@use './roboto';

$header-1: 48px;
$header-2: 36px;

$header-1-mobile: 30px;
$header-2-mobile: 18px;

$body: 16px;
$body-small: 14px;

$icon: 36px;

html,
body,
#root {
  height: 100%;
}

:root {
  font-family: Roboto, Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
