@use '../styles/breakpoints.scss' as br;
@use '../styles/shadow.scss' as sh;

.headerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
  padding: 16px;

  @media (min-width: br.$md-width) {
    width: auto;
    align-items: center;
    justify-content: flex-end;
  }

  $mobile-exclusive: br.$md-width - 1px;
  @media (max-width: $mobile-exclusive) {
    @include sh.shadow-mixin(1);
  }
}

.headerLinks > * {
  padding: 0px !important;
}
