.navigation {
  display: flex;
  flex-direction: column;
}

.navigation-elements-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.navigation-item-active {
  color: red;
  font-weight: bold;
}
