@use './styles/css_reset';
@use './styles/fonts';
@import './styles/colors';

:root {
  font-family: Roboto, Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;

  color: $text-dark;
  background-color: $background-dark;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $text-light;
    background-color: $background-light;
  }
}
