@use '../styles/breakpoints.scss' as br;
@use '../styles/shadow.scss' as sh;

.footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 8px 0 8px;
  margin-bottom: 8px;

  @media (min-width: br.$md-width) {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  @include sh.shadow-mixin(-1);
}

.mapleLeaf {
  width: 32px;
  height: auto;
  filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.4));
}
